PORT=
APP_ENV=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_SCHEMA=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SESSION_KEY=

# levels: DEBUG, INFO, WARN, ERROR, FATAL, PANIC
LOGGING_LEVEL=DEBUG
